.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
out/test/**
test/**
**/test/**
**/.vscode-test/**
!out/**/*.js
!out/**/*.map
!out/**/*.d.ts
!package.json
!README.md
!CHANGELOG.md
!LICENSE
